@import "tailwindcss";

@theme {
  --color-greenDDS: #4f9669;
  --color-secondary: #121714;
  --color-primary: #0a0f0c;
  --color-redDDS: #5d1f1f;
  --color-blackDDS: #262d27;
  --color-whiteDDS: #6e6f6e;
  --color-greyDDS: #494d49;
  --color-WhiteBaseDDS: #e1eaf5;
  --color-bgBlack: #444444;
  --color-borderGrey: #6e6e6e;
  --color-borderWhite: #e1eaf5;
  --color-borderBlack: #424242;
  --color-RadioColor: #3f4640;
  --color-BorderPurpleColor: #9747ff;

  --color-blackButton: #1d2a22;

  --font-display: "Montserrat", "sans-serif";
}
